<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Lieu detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-text color="Black">
    <h2 text-center>Visiteur</h2>
  </ion-text>

  <ion-item>
    <ion-label position="stacked">Nom</ion-label>
    <ion-input [(ngModel)]="lieu.nom"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Prenom</ion-label>
    <ion-input [(ngModel)]="lieu.prenom"></ion-input>
  </ion-item>

  <ion-text color="Black">
    <h2 text-center>Lieu</h2>
  </ion-text>

  <ion-item>
    <ion-label position="stacked">Rue</ion-label>
    <ion-input [(ngModel)]="lieu.rue"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Ville</ion-label>
    <ion-input [(ngModel)]="lieu.ville"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Code Postal</ion-label>
    <ion-input [(ngModel)]="lieu.cp"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Téléphone</ion-label>
    <ion-input [(ngModel)]="lieu.tel"></ion-input>
  </ion-item>

  <ion-item *ngIf="lieu.id">
    <ion-label>Trajet fait :</ion-label>
    <ion-toggle [(ngModel)]="lieu.fait"></ion-toggle>
  </ion-item>
</ion-content>

<ion-footer *ngIf="!lieu.id">
  <ion-toolbar color="primary">
    <ion-button [disabled]=" lieu.nom == '' || lieu.prenom == '' || lieu.rue == '' || lieu.ville == '' || lieu.cp == '' || lieu.tel == '' " expand="full" fill="clear" color="light" (click)="addLieu()">
      <ion-icon name="checkmark" slot="start"></ion-icon>
      Ajout du lieu
    </ion-button>
  </ion-toolbar>
</ion-footer>

<ion-footer *ngIf="lieu.id">
  <ion-row no-padding text-center>
    <ion-col size="6">
      <ion-button expand="full" color="danger" (click)="deleteLieu()">
        <ion-icon name="trash" slot="start"></ion-icon>
        Supprimer
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="full" color="success" (click)="updateLieu()">
        <ion-icon name="save" slot="start"></ion-icon>
        Modifier
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>