<ion-header>
  <ion-toolbar color="primary">
    <ion-title>GSB Gestion des lieux</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-content padding>

    <ion-card button *ngFor="let lieu of (lieux | async)" [routerLink]="['/lieu', lieu.id]">
      <div *ngIf="lieu.fait == false">
        <ion-card-header color="danger">
          <ion-card-title>{{ lieu.ville }}</ion-card-title>
          <ion-card-subtitle>{{ lieu.rue }}</ion-card-subtitle>
        </ion-card-header>
      </div>
      <div *ngIf="lieu.fait == true">
        <ion-card-header color="success">
          <ion-card-title>{{ lieu.ville }}</ion-card-title>
          <ion-card-subtitle>{{ lieu.rue }}</ion-card-subtitle>
        </ion-card-header>
      </div>
    </ion-card>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button routerLink="/lieu">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  </ion-content>

</ion-content>